
/* Icono de buscar */
.search-icon {
    background-color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
}

.search-icon i {
    color: var(--primary);
    font-size: 1.5rem;
}


/* Formulario para buscar */
.search-section {
    padding: 3rem 2rem;
}

.search-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.search-content form {
    margin: 40px 40px;
    padding: 40px 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.288);
}

.search-content input[type="text"] {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    width: 80%;
    font-weight: 500;
    background: #fff;
}

/* Imagenes de evidencia */
img {
    display: block;
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
    object-fit: contain; /* O usa 'cover' si prefieres recorte */
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


/* Ventana modal */
#modal {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: fit-content;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.288);
    border-radius: 12px;
}

/* Boton de eliminar */
.delete-button {
    background-color: var(--destructive);
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: var(--destructive-dark);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}