/* Icono de buscar */
.search-icon {
    background-color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
}

.search-icon i {
    color: var(--primary);
    font-size: 1.5rem;
}


/* Formulario para buscar */
.search-section {
    padding: 3rem 2rem;
}

.search-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.search-content form {
    margin: 40px 40px;
    padding: 40px 40px;
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--border);
}

.search-content input[type="text"] {
    border: 1px solid var(--border);
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 500;
    background: var(--background);
    width: 80%;
}

.search-content button {
    border: 1px solid var(--border);
    width: 100px;
}

@media (max-width: 768px) {
    .search-content input[type="text"] {
        width: 100%;
    }
    .search-content button {
        width: 100%;
        margin-top: 12px;
    }
}

/* Imagenes de evidencia */
img {
    display: block;
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
    object-fit: contain;
    /* O usa 'cover' si prefieres recorte */
    box-shadow: 0 2px 8px var(--border);
}

/* Boton de eliminar */
.delete-button {
    border: 1px solid var(--border);
    background-color: var(--destructive);
    color: var(--background);
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: var(--destructive-dark);
    color: var(--background);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--border);
}